@{
    ViewData["Title"] = "Chat";
    //Chat
}
<!DOCTYPE html5>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <title>none</title>
    <script src="http://oion935wi.bkt.clouddn.com/jquery-1.6.4.min.js"></script>
    <script src="http://oion935wi.bkt.clouddn.com/jquery.signalR-2.2.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="http://60.205.200.73:5000/signalr/hubs"></script>*@
    <script src="http://139.199.225.84:5000/signalr/hubs"></script>
    <style>
        body {
            background-image: url("http://ohe5u4k9s.bkt.clouddn.com/bg.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            color: #333333;
            background-color: #ffffff;
        }

        div {
            border-radius: 5%;
        }

        #ChildDiv {
            width: 50%;
            height: 50px;
        }

        #MajiKo {
            width: 50%;
            height: 50%;
            margin-left: 55%;
        }

        #TText {
            width: 200%;
            height: 100%;
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div>
        <textarea id="TText" style="width:800px;height:600px"></textarea>
        <input type="text" id="IDText" value="" /> <button id="BtnChange" onclick="submit_change()">提交修改</button>
    </div>


    <script type="text/javascript">


        var proxy = $.connection.messageHub;
        $.connection.hub.start(function () {


            var lane_one = {
                "lane_code": "XM010",
                "country_code": "CN",
                "city_code": "XIAMEN",
                "terminal_code": "SXCT",
                "lane_name": "GI02",
                "direction": "In",
                "connection_id": "offline",
                "update_time": "2017/3/21 15:59:50",
                "lane_status": "null"

            }

            var message = {
                "message_type": "status",
                "message_content": lane_one
            }

            proxy.server.ChangeStatus(message.message_content.lane_code, JSON.stringify(message));//发送message对象


        });//初始化

        proxy.client.ReciveRe = function (data) {
            alert(data);//接收执行结果 如果没有触发这个事件 说明根本没有进入到服务修改方法中。

        }

    </script>
</body>
</html>


